{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="row" style="margin: 10px;">
    <div class="col-md-8 mx-auto">
        <h3>Product Details</h3>
        <div class="row">
            {% if error_msg %}
            <div class="alert alert-danger">
            {{error_msg}}
            </div>
            {% endif %}

            {% if success_msg %}
            <div class="alert alert-success">
            {{success_msg}}
            </div>
            {% endif %}
            
            {% for i in product %}
            <div class="col-md-6">
                <img src="{{i.pimage.url}}" class="card-img-top mt-2" alt="Product">
            </div>
            {{endif}}

            <div class="col-md-6">
                <h3>Description</h3>
                <br>
                <p>
                <h4>
                    {{i.pname}} <br><br>
                    ₹{{i.price}} <br><br>
                    {{i.description}} <br><br>
                    {% if i.category == 1 %}
                    <p class="card-text">Shoes</p>
                    {% elif i.category == 2 %}
                    <p class="card-text">Mobile</p>
                    {% elif i.category == 3 %}
                    <p class="card-text">Clothes</p>
                    {% elif i.category == 4 %}
                    <p class="card-text">Watches</p>
                    {% endif %}
                </h4>
                </p>
                <br>
            <p clas="card-text" > {{i.description}}</p>
            <a href="/addtocart/{{i.id}}" class="anchor"><button class="btn btn-outline-warning detailbuttons" id="detailbuttons"> Add to Cart </a>
            <a href="/mycart" class="anchor"><button class="btn btn-outline-warning detailbuttons" id="detailbuttons"> View Cart </a>
            <a href="/" class="anchor"><button class="btn btn-warning detailbuttons" id="detailbuttons"> Shop More </a>
            </div>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock main %}