{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-4">Product Details</h3>

            {% if error_msg %}
            <div class="alert alert-danger">
                {{ error_msg }}
            </div>
            {% endif %}

            {% if success_msg %}
            <div class="alert alert-success">
                {{ success_msg }}
            </div>
            {% endif %}

            {% for i in product %}
            <div class="row mb-5">
                <div class="col-md-4">
                    <img src="{{ i.pimage.url }}" class="img-fluid" alt="Product">
                </div>

                <div class="col-md-4">
                    <h4>{{ i.pname }}</h4>
                    <p>{{ i.description }}</p>

                    {% if i.category == 1 %}
                    <p class="text-muted">Category: Shoes</p>
                    {% elif i.category == 2 %}
                    <p class="text-muted">Category: Mobile</p>
                    {% elif i.category == 3 %}
                    <p class="text-muted">Category: Clothes</p>
                    {% elif i.category == 4 %}
                    <p class="text-muted">Category: Watches</p>
                    {% endif %}
                </div>

                <div class="col-md-4" style="border-style: solid; border-color: rgb(32, 32, 32); border-width: 1px;">
                    <p class="text-muted">Price: ₹{{ i.price }}</p>
                    <div class="mt-4">
                        <a href="/addtocart/{{ i.id }}" class="btn btn-warning btn-sm mr-2" style="margin-bottom: 15px;">Add to Cart</a> <br>
                        <a href="/" class="btn btn-warning btn-sm">Shop More</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock main %}
